
Reflector2YAML/TestAssembly/bin/Debug/netcoreapp3.1/TestAssembly.deps.json
Reflector2YAML/TestAssembly/bin/Debug/netcoreapp3.1/TestAssembly.dll
Reflector2YAML/TestAssembly/bin/Debug/netcoreapp3.1/TestAssembly.pdb
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.AssemblyInfo.cs
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.AssemblyInfoInputs.cache
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.assets.cache
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.csproj.CoreCompileInputs.cache
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.csproj.FileListAbsolute.txt
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.csprojAssemblyReference.cache
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.dll
Reflector2YAML/TestAssembly/obj/Debug/netcoreapp3.1/TestAssembly.pdb
Reflector2YAML/TestAssembly/obj/project.assets.json
Reflector2YAML/TestAssembly/obj/project.nuget.cache
Reflector2YAML/TestAssembly/obj/project.packagespec.json
Reflector2YAML/TestAssembly/obj/TestAssembly.csproj.nuget.dgspec.json
Reflector2YAML/TestAssembly/obj/TestAssembly.csproj.nuget.g.props
Reflector2YAML/TestAssembly/obj/TestAssembly.csproj.nuget.g.targets
YAMLParser/.DS_Store
YAMLParser/.gradle/6.1.1/executionHistory/executionHistory.bin
YAMLParser/.gradle/6.1.1/executionHistory/executionHistory.lock
YAMLParser/.gradle/6.1.1/fileChanges/last-build.bin
YAMLParser/.gradle/6.1.1/fileContent/fileContent.lock
YAMLParser/.gradle/6.1.1/fileHashes/fileHashes.bin
YAMLParser/.gradle/6.1.1/fileHashes/fileHashes.lock
YAMLParser/.gradle/6.1.1/gc.properties
YAMLParser/.gradle/6.1.1/javaCompile/javaCompile.lock
YAMLParser/.gradle/6.1.1/javaCompile/taskHistory.bin
YAMLParser/.gradle/buildOutputCleanup/buildOutputCleanup.lock
YAMLParser/.gradle/buildOutputCleanup/cache.properties
YAMLParser/.gradle/buildOutputCleanup/outputFiles.bin
YAMLParser/.gradle/checksums/checksums.lock
YAMLParser/.gradle/vcs-1/gc.properties
YAMLParser/.idea/compiler.xml
YAMLParser/.idea/gradle.xml
YAMLParser/.idea/jarRepositories.xml
YAMLParser/.idea/misc.xml
YAMLParser/.idea/vcs.xml
YAMLParser/build/classes/java/main/Main.class
YAMLParser/build/classes/java/main/ODMParser.class
YAMLParser/dataModel.yaml
YAMLParser/gradle/wrapper/gradle-wrapper.jar
YAMLParser/gradle/wrapper/gradle-wrapper.properties
YAMLParser/gradlew
YAMLParser/gradlew.bat
YAMLParser\dataModel2.yaml
*.cache
*.dll
*.pdb
*.json
*.targets
Reflector2YAML/Reflector2YAML/obj/Reflector2YAML.csproj.nuget.g.props
Reflector2YAML/Reflector2YAML/obj/Debug/netcoreapp3.1/Reflector2YAML.csproj.FileListAbsolute.txt
Reflector2YAML/Reflector2YAML/obj/Debug/netcoreapp3.1/Reflector2YAML.csproj.CopyComplete
Reflector2YAML/Reflector2YAML/obj/Debug/netcoreapp3.1/Reflector2YAML.AssemblyInfo.cs
Reflector2YAML/Reflector2YAML/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Reflector2YAML/Reflector2YAML/bin/Debug/netcoreapp3.1/.DS_Store
Reflector2YAML/Reflector2YAML/bin/Debug/netcoreapp3.1/..\..\..\..\stam.yaml
Reflector2YAML/Reflector2YAML/bin/Debug/.DS_Store
Reflector2YAML/Reflector2YAML/bin/.DS_Store
Reflector2YAML/Reflector2YAML/.DS_Store
Reflector2YAML/.idea/.idea.Reflector2YAML/riderModule.iml
Reflector2YAML/.idea/.idea.Reflector2YAML/.idea/vcs.xml
Reflector2YAML/.idea/.idea.Reflector2YAML/.idea/misc.xml
Reflector2YAML/.idea/.idea.Reflector2YAML/.idea/indexLayout.xml
Reflector2YAML/.idea/.idea.Reflector2YAML/.idea/encodings.xml
Reflector2YAML/.DS_Store
Model/src/main/java/Model/Manager.java
Model/src/main/java/Model/HRDepart.java
Model/src/main/java/Model/Employee.java
Model/src/main/java/.DS_Store
Model/src/main/.DS_Store
Model/src/.DS_Store
Model/gradlew.bat
Model/gradlew
Model/gradle/wrapper/gradle-wrapper.properties
Model/gradle/wrapper/gradle-wrapper.jar
Model/build/classes/java/main/Model/Manager.class
Model/build/classes/java/main/Model/HRDepart.class
Model/build/classes/java/main/Model/Employee.class
Model/build/classes/java/main/Model/CustomDateTimeSerializer.class
Model/build/classes/java/main/Model/CustomDateTimeDeserializer.class
Model/.idea/vcs.xml
Model/.idea/misc.xml
Model/.idea/jarRepositories.xml
Model/.idea/gradle.xml
Model/.idea/compiler.xml
Model/.gradle/vcs-1/gc.properties
Model/.gradle/checksums/checksums.lock
Model/.gradle/buildOutputCleanup/outputFiles.bin
Model/.gradle/buildOutputCleanup/cache.properties
Model/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Model/.gradle/6.1.1/javaCompile/taskHistory.bin
Model/.gradle/6.1.1/javaCompile/javaCompile.lock
Model/.gradle/6.1.1/gc.properties
Model/.gradle/6.1.1/fileHashes/fileHashes.lock
Model/.gradle/6.1.1/fileHashes/fileHashes.bin
Model/.gradle/6.1.1/fileContent/fileContent.lock
Model/.gradle/6.1.1/fileChanges/last-build.bin
Model/.gradle/6.1.1/executionHistory/executionHistory.lock
Model/.gradle/6.1.1/executionHistory/executionHistory.bin
Model/.DS_Store
.DS_Store
Model/build/classes/java/main/Model/Autogenerated/Employee.class
Model/build/classes/java/main/Model/Autogenerated/HRDepart.class
Model/build/classes/java/main/Model/Autogenerated/Manager.class
Model/src/main/java/Model/Autogenerated/Employee.java
Model/src/main/java/Model/Autogenerated/HRDepart.java
Model/src/main/java/Model/Autogenerated/Manager.java
Model/.gradle/6.1.1/javaCompile/classAnalysis.bin
*.bin
Reflector2YAML/SampleAssembly/obj/Debug/netcoreapp3.1/SampleAssembly.AssemblyInfo.cs
Reflector2YAML/SampleAssembly/obj/Debug/netcoreapp3.1/SampleAssembly.csproj.FileListAbsolute.txt
Reflector2YAML/SampleAssembly/obj/Debug/netcoreapp3.1/TestAssembly.AssemblyInfo.cs
Reflector2YAML/SampleAssembly/obj/Debug/netcoreapp3.1/TestAssembly.csproj.FileListAbsolute.txt
Reflector2YAML/SampleAssembly/obj/SampleAssembly.csproj.nuget.g.props
Reflector2YAML/SampleAssembly/obj/TestAssembly.csproj.nuget.g.props
Reflector2YAML/SampleAssembly/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
YAMLParser/build/classes/java/main/AutogenerateArgs.class
